/* Variables */
:root {
    --blue-color: #0071F5;
    --white-color: #F5F5F5;
    --grey-color:  #b6b4b4;
    --light-blue: #cfd8e2;
    --dark-blue-color: #004AA0;
    --background-color: #030C1D;

    --navbar-height: 80px;
    --navbar-height-mobile: 40px;
  }

/* All page styles */

body {
    height: 100vh;
    margin: 0;
    margin-top: var(--navbar-height);
    padding: 0;
    font-family: 'Urbanist', sans-serif;
    background-color: var(--background-color);
    color: var(--white-color)
}

header{
    background-color: var(--background-color);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.22), 0 10px 10px rgba(0, 0, 0, 0.22);
    height: var(--navbar-height);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;

}

h2{
    font-size: 3vw;
    color: var(--white-color);
    padding: 3vw;
    text-decoration: underline;
}

h3{
    font-size: 2vw;
    padding: 2vw;
    padding-bottom: 0;

}

p{
    padding: 2vw;
    padding-top: 0;
}

button{
    font-size: 2vw;
    color: #F5F5F5;
    padding: 1vw 3vw;
    border-radius: 2vw;
    background-color: #0071F5;
    
    border: solid 0px;
    margin: 2vw;

    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

}

button:hover {
    transform: translateY(-5px);
    background-color: #004AA0;
  }


/* Header Styles */

nav {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--navbar-height);

}

.logo-container {
    position: absolute;
    left: 0%;
}

.logo-container img{
    height: var(--navbar-height);
}

.menu li {
    display: inline-block;
    margin-right: 4vw;
}

.menu a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: bold;
    font-size: 20px;
    position: relative;
    
}

.menu a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--blue-color);
    transition: width 0.2s ease-in-out;
    z-index: -2;
}

.menu a:hover::after {
    width: 100%;
}

.menu a.active::after {
    width: 100%;
}

.menu a.active {
    color: var(--blue-color);
}

.log-in-button {
    position: absolute;
    right: 0%;
}

.log-in-button button {
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 12px;
}

#header{
    width: 100%;
}

.topnav .icon {
    display: none;
    color: var(--white-color);
  }


@media screen and (max-width: 720px) {

    .log-in-button button {
        font-size: 10px;
        padding: 4px 8px;
        border-radius: 9px;
    }

    nav {
        height: var(--navbar-height-mobile);
    }
    
    .logo-container img{
        height: var(--navbar-height-mobile);
    }

    body {
        margin-top: var(--navbar-height-mobile);
    }
    
    header{
        height: var(--navbar-height-mobile);    
    }

    .menu a {
        display: none;}


    .log-in-button {
        position: absolute;
        right: 10%;
    }


}

/* Button Styles */

#button_style_2:hover {
    transform: translateY(-5px);
    background-color: #004AA0;
  }


#button_style_2{
border-radius: 5vw;
}

#button_style_1{
    background-color:  rgba(52, 152, 219, 0.0);
    border-radius: 5vw;
    position: relative;

}

#button_style_1::before, #button_style_1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    border-radius: 5vw;
    z-index: -1;
}

#button_style_1::before {
    background-color: #0071F5;
    transition-duration: 0.5s;
    box-shadow: inset 0 0 0 3vw #030C1D;
    }

#button_style_1:hover::before {
box-shadow: inset 0 0 0 1px #0071F5
}

#button_style_1::after {
    box-shadow: inset 0 0 0 1px #0071F5;
}

.buttons{
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Logo-section Styles */


.logo-slogan-container{
    height: 80vh;
    background-image: url("./media/background_shapes_zoomed.png");
    background-size: cover;
    background-attachment: fixed;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.column-img{
    flex: 5;
    text-align: right;
    padding: 2vw;

}

.column-button{
    flex: 5;
    text-align: left;
    padding: 2vw;

}

.column-button button{
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .logo-slogan-container {
        height: 30vw;
        flex-direction: column;
        align-items: center;
    }

    .column-img{
        flex: 1; /* Equal flex values to distribute space evenly */
        width: 100%;
        text-align: center;
        padding: 0vw;
        box-sizing: border-box; /* Include padding in the width */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .column-button {
        flex: 1; /* Equal flex values to distribute space evenly */
        width: 100%;
        text-align: center;
        padding: 0vw;
        box-sizing: border-box; /* Include padding in the width */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

}



#logo-slogan{
    width: 40vw;
}


/* About Description Section Styles */

.about-description{
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

#description{
    flex: 5;
    color: var(--background-color);
    font-size: 2vw;
}

#macbook_mockup{
    flex: 5;
    width: 40vw;
}

/* toggle Styles */


.toggle-switch-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    z-index: 2;
  }

  .toggle-switch {
    position: relative;
    width: 120px;
    height: 60px;
    border-radius: 30px;
    
    cursor: pointer;
    margin-right: 10px;
  }

  #toggle-switch{
      background-color: #ccc;
  }

  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .toggle-switch-slider {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
  }

  .toggle-switch input:checked + .toggle-switch-slider {
    transform: translateX(60px);
  }

  .toggle-text {
    font-size: 18px;
  }


/* Multi Tab Styles */


.hide-text{
    display: none;
}

.toggle-line-container
{
    background-color: var(--light-blue);
    position: relative;
    width: 100vw;
    height: 80vh;
    margin: auto;
    overflow: hidden;
}

#text-image-content p{
    padding: 2vw;
    padding-top: 1vw;
    font-size: 1.5vw;
}


#splitted_img {
    width: 100vw;
    height: 80vh;
    background-color: #004AA0;
    background-image: url("./media/split_image.jpg");
    background-size: cover;    
    transition: all 0.5s ease-in-out;
}

#splitted_img.blurred {
    filter: blur(50px);
}

#splitted_img.recruits{
    float: left;
    clip-path: polygon(0 0, 45% 0, 35% 100%, 0 100%);
    shape-outside: polygon(0 0, 60% 0, 50% 100%, 0 100%);
}

#splitted_img.firms {
    float: right;
    clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 60% 100%);
    shape-outside: polygon(47% 0%, 100% 0%, 100% 100%, 57% 100%);
}


.vertical-line {
    position: absolute;
    height: 120vh;
    width: 8px;
    background-color: var(--blue-color);
    left: 50%;
    top: -20vh;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transform: rotate(15deg);
    transition: transform 0.5s ease-in-out;
  }

  .tilted {
    transform: rotate(-15deg);
  }


/* other */

.image-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.paragraph-background-left{
    height: 80vh;
    margin: 0;
}

#Lorem1{
    color: var(--background-color);
    font-size: 1.5vw;
    text-align: left;
    background-color: #FFF;
}

.paragraph-background-right{
    height: 80vh;
    margin: 0;
    color:#FFF;
}

#image1{
    background-image: url(./bank_stock.png);
    background-size: cover;
}



.flex-4{
    flex: 4;
}

.flex-6{
    flex: 6;
}



.scrollable-container{
    height: 80vh;
    text-align:right;
    color:#FFF;
    font-weight:bold;
    position: relative;
    background-image:url(./media/list_of_banks.jpg);
    background-size: cover;
    background-position:center;
}

.scrollable-container h2{
    position: absolute;
    top: 20%; /* Adjust the vertical position */
    left: 60%; /* Adjust the horizontal position */
    text-align: left;
    text-decoration: none;
    color: #ffffff;
    font-size: 4vw;
}

@media screen and (max-width: 768px) {
    .scrollable-container{
        height: 40vh;
    }


}



.fourth {
    border: solid 4px var(--blue-color);
    background-color: transparent;
    background-image: linear-gradient(45deg, var(--blue-color) 50%, transparent 50%);
    background-position: 100%;
    background-size: 500%;
    transition: background-position 500ms ease-in-out, transform 0.5s ease-in-out; background-color:  0.8s ease-in-out;
    border-radius: 7vw;
}
.fourth:hover { 
    background-position: 0;
    transform: scale(0.97);
    background-color: #0071F5;
}
  


.hidden {
    opacity: 0;
    transform: translateY(3vw);
    transition: all 1s;
    transition-delay: 0.5s;
}
.animation-left{
    transform: translateY(0);
    transform: translateX(-30vw);
    transition: all 0.5s;
    transition-delay: 0.5s;
}

.animation-right{
    transform: translateY(0);
    transform: translateX(30vw);
    transition: all 0.5s;
    transition-delay: 0.5s;
}
.show{
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0);

}


.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.btn:hover, .btn:focus {
color: #fff;
outline: 0;
}

.fourth {
border-color: #f1c40f;
color: #fff;
background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
background-position: 100%;
background-size: 400%;
transition: background 300ms ease-in-out;
}
.fourth:hover {
background-position: 0;
}

